/* Empty. Add your own CSS if you like */
html {
  direction: ltr;
}

.bar .title.title-left {
  text-align: right;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

#roomPage .return-button {
  text-align: center;
  font-size: 20px;
  padding: 8px;
  border-bottom: 1px solid #e2dede;
}

#roomPage .return-button:active {
  background-color: grey;
}

#roomPage .user-item{
  padding: 0px 15px 0px 10px;
  min-height: 40px;
}

#roomPage .isMe{
  background-color: #6cff31;
}

#roomPage .isNotMe{
  background-color: #91f3ff;
}

#roomPage .disabled-player{
  opacity: 0.5;
}

#roomPage .cube-item{
  /*border-style: solid;*/
  /*border-width: 1px 1px 1px 1px;*/
  /*font-size: 30px;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  /*padding-top: 0px;*/
  /*margin: 5px;*/
}

#loginPage .regular-input{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;
  display: inline;
}

.vertical-margin{
  margin: 8px 0;
}

#roomPage .current-player-turn{
  font-weight: bold;
}

#roomPage .last-player-turn{
  font-weight: bold;
}

#roomPage .scroll{
  height: 100%;
  min-height: 100%;
}

.opacity-05{
  opacity: 0.5;
}
